<%- include("partials/header.ejs") %>

    <p><%= book.title %></p>
    <p><%= book.author_name[0] %></p>
    <p><%= isbn %></p>
    <img src="https://covers.openlibrary.org/b/isbn/<%= isbn %>-L.jpg" alt="<%= book.title %> cover" class="img-fluid"/>

    <form  action="/add-book" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="author" placeholder="author">
        <input type="text" name="summary" placeholder="summary">
        <input type="text" name="notes" placeholder="notes">
        <input type="text" name="rating" placeholder="rating">
        <input type="text" name="isbn" placeholder="isbn">
        <button type="submit" >Post</button>
    </form>

<%- include("partials/footer.ejs") %>
