<%- include("partials/header.ejs") %>

    <p><%= book.title %></p>
    <p><%= book.author %></p>
    <p><%= book.summary %></p>
    <p><%= book.notes %></p>
    <p><%= book.rating %></p>
    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" alt="<%= book.title %> cover"/>

<%- include("partials/footer.ejs") %>