<%- include("partials/header.ejs") %>

<form action="/update/<%= postIndex %>" method="POST">
    <input type="text" name="newTitle" placeholder="Title" value="<%= posts[postIndex]["title"] %>">
    <textarea name="newMessage" placeholder="message"><%= posts[postIndex]["message"] %></textarea>
    <input type="submit" value="OK">
</form>

<%- include("partials/footer.ejs") %>
