<%- include("partials/header.ejs") %>

<div class="container d-flex justify-content-evenly my-3 ">
    <div class="row col-lg-11 white-text rounded main p-5">
        <h1><%= posts[postIndex]["title"] %></h1>
        <p class="date"><%= posts[postIndex]["date"] %></p>
        <h2><%= posts[postIndex]["message"] %></h2>
    </div>
</div>



<%- include("partials/footer.ejs") %>
