<%- include("partials/header.ejs") %>

<div class="container d-flex justify-content-evenly my-3">
  <div class="row col-lg-12 white-text rounded main">
      <div class="col-12 d-flex justify-content-between pt-3 px-3">
        <a href="/" class="remove-styling">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg>
        </a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              More
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/update-page/<%= postIndex %>">Edit Post</a></li>
            <li><a class="dropdown-item" href="/delete/<%= postIndex %>">Delete Post</a></li>
          </ul>
        </div>
      </div>
      <div class="px-5 pb-5">
        <div class="col-12">
          <div>
              <h1 class="view-title fw-bold"><%= posts[postIndex]["title"] %></h1>
              <p class="date"><%= posts[postIndex]["date"] %></p>
          </div>
      </div>
      <div class="col-12">
          <h2><%= posts[postIndex]["message"] %></h2>
      </div>
  </div>
  </div>
    
</div>

<%- include("partials/footer.ejs") %>
